<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org">
<head>
    <title>闲言</title>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/xianyan.css" />
    <link rel="shortcut icon" href="/image/favicon.ico" type="image/x-icons" />
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div style="text-align: center; position: relative">
            <img src="/image/404.jpg" style="width: 1300px">
            <!--            <p th:text="${message}">服务太热了，要不等会再来！！</p>-->
            <a class="btn btn-primary btn-lg" href="/" role="button" style="position: absolute; top: 480px; right: 400px">回到主页</a>
<!--        <h1>出错啦！！！</h1>-->
<!--        <p th:text="${message}">服务太热了，要不等会再来！！</p>-->
<!--        <p><a class="btn btn-primary btn-lg" href="/" role="button">回到主页</a></p>-->
    </div>
</div>
<div th:insert="~{navigation :: footer}"></div>
</body>
</html>