<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itycu.xianyan.mapper.QuestionExtMapper">
  <resultMap id="BaseResultMap" type="cn.itycu.xianyan.modle.Question">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="creator" jdbcType="BIGINT" property="creator" />
    <result column="comment_count" jdbcType="INTEGER" property="commentCount" />
    <result column="view_count" jdbcType="INTEGER" property="viewCount" />
    <result column="like_count" jdbcType="INTEGER" property="likeCount" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
    <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="BIGINT" property="gmtModified" />
  </resultMap>

  <update id="incView" parameterType="cn.itycu.xianyan.modle.Question" >
    update question
    set
    view_count = view_count + #{viewCount,jdbcType=INTEGER}
    where id = #{id}
  </update>
  <update id="incCommentCount" parameterType="cn.itycu.xianyan.modle.Question" >
    update question
    set
    comment_count = comment_count + #{commentCount,jdbcType=INTEGER}
    where id = #{id}
  </update>

  <select id="selectRelated" parameterType="cn.itycu.xianyan.modle.Question" resultMap="BaseResultMap">
    select
    *
    from question
    WHERE
    tag REGEXP #{tag}
    AND id != #{id};
  </select>

  <select id="countBySearch" parameterType="cn.itycu.xianyan.dto.QuestionQueryDTO" resultType="java.lang.Integer">
    select count(*) from question
    <where>
    <if test="search != null and search != ''">
      and title regexp #{search}
    </if>
    </where>
  </select>

  <select id="selectBySearch" parameterType="cn.itycu.xianyan.dto.QuestionQueryDTO" resultMap="BaseResultMap">
    select * from question
    <where>
      <if test="search != null and search != ''">
        and title regexp #{search}
      </if>
    </where>
      order by gmt_create desc
    limit #{page},#{size}
  </select>
</mapper>